.nav-default {
  background-color: #3a3434;
  border-color: #7e7c7c;
}
.nav-default .nav-brand {
  color: #acacac;
}
.nav-default .nav-brand:hover,
.nav-default .nav-brand:focus {
  color: #fbfbfb;
}
.nav-default .nav-text {
  color: #acacac;
}
.nav-default .nav-nav > li > a {
  color: #acacac;
}
.nav-default .nav-nav > li > a:hover,
.nav-default .nav-nav > li > a:focus {
  color: #fbfbfb;
}
.nav-default .nav-nav > li > .dropdown-menu {
  background-color: #3a3434;
}
.nav-default .nav-nav > li > .dropdown-menu > li > a {
  color: #acacac;
}
.nav-default .nav-nav > li > .dropdown-menu > li > a:hover,
.nav-default .nav-nav > li > .dropdown-menu > li > a:focus {
  color: #fbfbfb;
  background-color: #7e7c7c;
}
.nav-default .nav-nav > li > .dropdown-menu > li > .divider {
  background-color: #7e7c7c;
}
.nav-default .nav-nav .open .dropdown-menu > .active > a,
.nav-default .nav-nav .open .dropdown-menu > .active > a:hover,
.nav-default .nav-nav .open .dropdown-menu > .active > a:focus {
  color: #fbfbfb;
  background-color: #7e7c7c;
}
.nav-default .nav-nav > .active > a,
.nav-default .nav-nav > .active > a:hover,
.nav-default .nav-nav > .active > a:focus {
  color: #fbfbfb;
  background-color: #7e7c7c;
}
.nav-default .nav-nav > .open > a,
.nav-default .nav-nav > .open > a:hover,
.nav-default .nav-nav > .open > a:focus {
  color: #fbfbfb;
  background-color: #7e7c7c;
}
.nav-default .nav-toggle {
  border-color: #7e7c7c;
}
.nav-default .nav-toggle:hover,
.nav-default .nav-toggle:focus {
  background-color: #7e7c7c;
}
.nav-default .nav-toggle .icon-bar {
  background-color: #acacac;
}
.nav-default .nav-collapse,
.nav-default .nav-form {
  border-color: #acacac;
}
.nav-default .nav-link {
  color: #acacac;
}
.nav-default .nav-link:hover {
  color: #fbfbfb;
}

@media (max-width: 767px) {
  .nav-default .nav-nav .open .dropdown-menu > li > a {
    color: #acacac;
  }
  .nav-default .nav-nav .open .dropdown-menu > li > a:hover,
  .nav-default .nav-nav .open .dropdown-menu > li > a:focus {
    color: #fbfbfb;
  }
  .nav-default .nav-nav .open .dropdown-menu > .active > a,
  .nav-default .nav-nav .open .dropdown-menu > .active > a:hover,
  .nav-default .nav-nav .open .dropdown-menu > .active > a:focus {
    color: #fbfbfb;
    background-color: #7e7c7c;
  }
}