.task-progress {
    width: 80%;
    display: block;
    float: left;
}

.slot-icon-container {
    padding: 0 5%;
    height: 40%;
    display: block;
    float: left;
    box-sizing: border-box;
    position: relative;
}

.task-icon-container {
    padding: 0 2%;
    height: 60%;
    width: 20%;
    display: block;
    float: left;
    box-sizing: border-box;
    position: relative;
}

.inactive-icon-container {
	border: 1px solid gray;
	height: 50%;
	width: 6%;
	float:left;
	position: relative;
	opacity: 0.6;
	box-sizing: border-box;
    padding: 1% 1%;
    margin: 0.25%;
    border-radius: 3px;
}

.inactive-last {
    font-size: 3vw;
}

.task-icon {
    height: 100%;
}

.task-info {
    float: left;
    font-size: 2vw;
}

.task-index {
    position: absolute;
    top: -10%;
    left: 75%;
    right: 2%;
    bottom: 0%;
    color: black;
    font-weight: bold;
    font-size: 2vw; 
}

.task {
    clear: both;
    width: 80%;
    height: 8vw;
    display: block;
    float: left;
    padding: 0 5%;
    box-sizing: border-box;
}

.slot-pending-tasks {
    height: 10vw;
    clear: both;
}

.slot-tasks-content {
    width: 100%;
    height: 14vw;
    clear: both;
    position: relative;
}

.slot-tasks{
    width: 100%;
    height: 23vw;
    clear: both;
    position: relative;
}