.troop {
	width: 9%;
	height: 100%;
	clear: none;
	float: left;
	position: relative;
	border: 1px solid black;
}

.troop-list {
	display: block;
	clear: both;
}

 .troop-ico {
    margin: auto;
    display: block;
    box-sizing: content-box;
	 padding-top: 5%;
    height: 55%;
 }

 .troop-q {
	display: block;
	border: none;
	clear: left;
	text-align: center;
	font-size: 1vw;
	width: 100%;
	height: 15%;
}

 .troop-q.editable {
	 height: 30%;
	 font-size: 1.5vw;
}

.unavailable {
	opacity: 0.5;
}

.death {
	color: red
}