 .cell {
     position: absolute;
     display: block;
     background: #AFA;
     background-size: 100vw;
     border: 1px solid lightgreen;
 }
 
 .cell-content {
     position: absolute;
     display: block;
 }

 .cell-ally {
     border: 2px solid darkgreen;
     border-radius: 2px;
 }

 .village-cell {
     padding-left: 10%;
     width: 90%;
     display: block;
 }

 .troop-cell {
     padding-top: 5%;
     padding-left: 10%;
     width: 75%;
     display: block;
 }

.div-line-h {
	display: none;
	border: 3px solid red;
	height: 1px;
	width: 1800px;
	position: absolute;
	top: 500px;
	z-index: 20;
}