
.peasants {
    margin: 20px;
    clear: left;
}

.resources {
    position: relative;
	clear: none;
	width: 80%;
	padding: 10px 0;
}

.occupation {
    clear: left;
}

.counter {
   display: block;
   font-size: 22px;
   font-weight: bold;
   border: none;
   
   height: 40px;
   width: 50px;

   text-align: center;  
   position: relative;
   float: left;
   clear: none;
}

.tech-improvement {
	width: 100px;
    color: white;
}

.ico {
   width: 10%;
   height: 20%;

   position: relative;
   clear: none;
}

.quantity {
    clear: right;
}

.resource {
    font-size: 1.5vw;
    width: 100%;
    clear: none;
    float: left;
}

.iron {
	background: #778;
}

.food {
    background: #F40;
}

.wood {
    background: #752;
}

.stone {
    background: #AAA;
}

.builders {
	background: #22A;
}

.unoccupied {
	background: #6D6;
}

.shortage {
	color: #F55;
	font-size: 20px;
	font-weight: bold;
	width: 200px;
}