a:hover, a:hover {
	text-decoration: none;
}
.app {
	font-family: Suez One;
}

.percentage-box {
    width: 80%;
}

.main {
	background: white;
	width: 91%;
	height: 930px;
	clear: none;
	overflow-y: hidden;
}

.view {
	height: 700px;
    width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.focusCatcher {
	position: absolute;
	top: 0;
	bottom:0;
	right:0;
	left:0;
}

.k-link {
	display: inline-block;
	font-size: 1.6vw;
}

.loading {
	position: absolute;
	left: 30%;
	right: 30%;
	top: 10%;
}

.siege-damage {
	color: red
}

.profile-avatar {
	width: 10vw;
}
.ranking-avatar {
	height: 5vh;
}

.troop {
	width: 9%;
	height: 100%;
	clear: none;
	float: left;
	position: relative;
	border: 1px solid black;
}
