.mission-objective, .mission-group, .mission-path {
    clear:both;
}

.mission-objective {
	display: block;
	font-size: 30px;
	width: 100%;
	text-align: center;
}

.path-wrapper {
  width: 100%;
  /* whatever width you want */
  display: inline-block;
  position: relative;
}

.path-wrapper:after {
  padding-top: 100%;
  /* 1:1 ratio */
  display: block;
  content: '';
}

.mission-path {
	border-radius: 10px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
}

.path-point {
	width: 5%;
	height: 5%; 
	border-radius: 100%;
}

.objective {
	border: 3px solid red;
	background: black;
}

.origin {
	border: 2px solid blue;
	background: black;
}

.path-line {
	border: 2px solid red;
	background: #F33;
	z-index: 0;
}

.mission {
	padding: 50px;
}

.mission-start {
	left: 40%;
	background: #512;
	clear: left;
	color: white;
	font-size: 24px;
}

.mission-message {
	display: block;
	clear: both;
}

.report {
	clear: both;
}

.reports {
	height: 100%;
	overflow-y: scroll;
}

.loot {
	clear: both;
	height: 10%;
}

.loot .resource {
	width: 25%;
	padding: 1%;
	font-size: 1.25vw;
}
