
.troop-list {
	display: block;
	clear: both;
}

 .troop-ico {
    margin: auto;
    display: block;
    box-sizing: content-box;
	padding-top: 5%;
    height: 45%;
 }

 .troop-q {
	display: block;
	border: none;
	clear: left;
	text-align: center;
	font-size: 1.3vh;
	width: 100%;
	height: 20%;
}

 .troop-q.editable {
	 height: 30%;
	 font-size: 1.5vw;
}

.unavailable {
	opacity: 0.5;
}

.death {
	color: red
}