.slot {
   position: absolute;
   font-size: 20px;
   z-index: 2;
   cursor: pointer;
}

.empty {
    background: green;
    border: 1px solid #6F6;
	opacity: 0.6;
    border-radius: 20px;
	transform: rotateX(45deg) rotateZ(-30deg);
}

.slot-working {
   background-image: url('/img/builders-occupation.png')
}

.building {
    height: 100%;
    bottom: 0px;
    overflow-y: visible;
}

#center .building {
   width: 200px;
}

.buildings-container {
	height: 100%;
	background-image: url("/img/grass.jpg");
	background-repeat: repeat;
	background-size: 12%;
	border-radius: 1%;
	perspective: 5000px;
}

.building-menu {
	width: auto;
	height: 100%;
	clear: none;
	left: 1000px;
	top: 0px;
	position: absolute;
}

.cost-ico {
   height: 2vw;

   position: relative;
   clear: none;
}

.bm-items {
	min-width: 80px;
	min-height: 50px;
	height: auto;
}

.bm-item img {
	width: 100%;
}

.bm-item {
	width: 30%;
	position: relative;
	clear: none;
	float: left;
	padding: 2px;
	margin: 2px;
	cursor: pointer;
}

.tooltip-inner {
    max-width: 450px;
    /* If max-width does not work, try using width instead */
}

.bm-cost {
	padding: 5% 0%;

	width: auto;
	height: 80%;
	display: block;

	font-size: 1.5vw;
	font-weight: bold;
}

.bm-cost-r {
	width: 19%;
	font-size: 1.5vw;
	position: relative;
}

.upgrade {
	position: absolute;
	height: 20px;
	bottom: 0px;
	z-index: 3;
	top: 0;
	right: 0;
}

.level {
	width: 120px;
	text-shadow: 1px 1px 2px white, 0 0 50px gray, 0 0 10px black;
	color: white;
	font-size: 25px;
	float: right;
	margin: 5px;
	
}